script_name=teller.as

base_url=http://192.168.1.101:8080/papaya/
social_key=54SO2c8ZwFLINBtn

#SCREEN_ORIENTATION_LANDSCAPE: 0
#SCREEN_ORIENTATION_PORTRAIT: 1
#SCREEN_ORIENTATION_USER: 2
#SCREEN_ORIENTATION_BEHIND: 3
orientation=0

package_name=com.fssle.teller
app_name=Teller
tab_name=Teller

social_game=0
wallpaper_enable=0

